* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    background-color: #3B3A3D;
}

summary {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

@media (max-width: 399px) {
    .wrapper {
        padding: 0 20px;
    }
}

.logo {
    color: #7AA899;
    filter: drop-shadow(0px 0px 5px #7AA899);
    animation: changeColor 1s infinite;
    margin-bottom: 5px;
}

.task-name {
    margin-bottom: 30px;
    color: #7AA899;
    filter: drop-shadow(0px 0px 5px #7AA899);
}

.task-name span {
    color: #3B3A3D;
}

@keyframes changeColor {
    0% { filter: drop-shadow(0px 0px 5px #7AA899) }
    50% { filter: drop-shadow(0px 0px 10px #7AA899) }
    100% { filter: drop-shadow(0px 0px 5px #7AA899) }
}

.accordion {
    box-shadow: 0 0 20px 5px rgba(122, 168, 153, 0.6);
    border-radius: 10px;
}

/* .accordion:hover > .accordion__item > .accordion__title {
    color: #7AA899;
} */

.accordion__title {
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid #000000;
    padding: 10px 40px 10px 10px;
    position: relative;
}

@media (max-width: 399px) {
    .accordion__title {
        font-size: 16px;
    }
}

@media (max-width: 334px) {
    .accordion__title {
        font-size: 14px;
    }
}

.accordion__title:hover {
    background-color: #7AA899;
    transition: 0.3s;
}

.accordion__title::after {
    display: block;
    content: "+";
    font-size: 30px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: 1s;
}

.accordion__item:first-child .accordion__title {
    border-radius: 10px 10px 0 0;
}

.accordion__item:last-child .accordion__title {
    border-radius: 0 0 10px 10px;
}

.accordion__item[open]:last-child .accordion__title {
    border-radius: 0px;
}

.accordion__item:not([open]):last-child .accordion__title {
    border-bottom: none;
}

.accordion__item:last-child .meme__container .meme__image {
    border-radius: 0 0 10px 10px;
}

.accordion__item[open] .accordion__title{
    color: #7AA899;
    border-bottom: 2px solid #7AA899;
}

.accordion__item[open] .accordion__title:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.accordion__item[open] .accordion__title::after {
    transform: translateY(-50%) rotate(45deg)
}